<!DOCTYPE html>
<html>
<head>
	<title>Books | Dashboard</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="container">
		<%= yield %>
		<br>
		<footer>
			<p class="text-center">Made with ❤ by <%= link_to 'Oktavianto', 'https://github.com/oktavianto' %></p>
		</footer>
	</div>
</body>
</html>
